</div><!-- #content_area -->
    
        <div id="leftNav">
          <!-- ========== MENU 2 ========== -->
          <div id="Menu2_Title" class="menu_title">Nav Menu 2</div>
          <div id="display_menu_2" class="menu">
<script type="text/javascript">var breadCrumb="||";</script>
<script type="text/javascript">
function mOvr2(src)
{ if (src.className != 'nav nav_hover nav_selected') src.className = 'nav nav_hover'; }
function mOut2(src)
{ if (src.className != 'nav nav_hover nav_selected') src.className = 'nav'; }
function mClk2(src, popup) 
{ if (!popup) {window.location=src.getElementsByTagName('A')[0].getAttribute('href');} else {window.open(src);} }
</script>
<ul>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
	<a href="/dealoftheday.asp" title="">Deal of the Day</a>
</li>
</ul>
</div><!-- #display_menu_2 -->
    
    
        </div><!-- #leftNav -->
    
      </div><!-- #content -->
    
    </div><!-- #contentWrap -->

  </div><!-- #pageWrapper -->

  <div id="footerWrap">
    <!-- ==================== FOOTER ==================== -->
    <div id="footer" class="clear">
      <div id="footerTop" class="clear">
    
        <div id="eList">
          <div class="title">let's get social</div>
          <div class="subTitle">sign up for our newsletter!</div>
          <form name="MailingList" method="post" action="/MailingList_subscribe.asp">
            <input type="text" class="elistInput transition" name="emailaddress" value="" placeholder="ENTER EMAIL ADDRESS" />
            <input type="submit" name="Submit" class="elistSubmit" value="" />
          </form>
          <div class="social" data-v-edit-region="Social Media">
            <a href="https://www.facebook.com/Volusion" target="_blank"><img src="/v/vspfiles/templates/250/images/template/facebook.png"  alt="Facebook"></a>
            <a href="https://twitter.com/Volusion" target="_blank"><img src="/v/vspfiles/templates/250/images/template/twitter.png"  alt="Twitter"></a>
          </div>
        </div><!-- #eList -->

        <ul class="col-1" data-v-edit-region="Link Column 1">
          <li class="title">Company Info</li>
          <li><a href="/aboutus.asp" title="About www.benaturalorganics.com">About Us</a></li>
          <li><a href="mailto:joanne@benaturalorganics.com?subject=Contact Us" title="Contact www.benaturalorganics.com">Contact Us</a></li>
          <li><a href="/terms_privacy.asp" title="Privacy Policy">Privacy Policy</a></li>
          <li><a href="/terms.asp" title="Terms and Conditions">Terms &amp; Conditions</a></li>
        </ul>
    
        <ul class="col-2" data-v-edit-region="Link Column 2">
          <li class="title">Shop With Us</li>
          <li><a href="/shoppingcart.asp" title="View My Shopping Cart">View Cart</a></li>
          <li><a href="/myaccount.asp" title="Edit My Account">My Account</a></li>
          <li><a href="/orders.asp" title="View the Status of My Order">Order Tracking</a></li>
          <li><a href="/pindex.asp" title="www.benaturalorganics.com's Product Index">Product Index</a></li>
        </ul>
    
        <ul class="col-3" data-v-edit-region="Link Column 3">
          <li class="title" >Customer Service</li>
          <li><a href="/help.asp" title="Site Help">Help</a></li>
          <li><a href="/help.asp" title="Site FAQ">FAQ</a></li>
          <li>toll free 888-555-1234</li>
        </ul>
    
        <ul class="col-4" data-v-edit-region="Icon Box">
          <li><a href="javascript:void(0);" onclick="window.open('https://www.volusion.com/ssl.asp?url=www.YourDomain.com', 'VolusionSSL',  'top=10,left=10,menubar=0,resizable=0,scrollbars=0,width=467,height=467')"><img src="/v/vspfiles/templates/250/images/template/vsecure.png" alt=""></a></li>
          <li><img src="/v/vspfiles/templates/250/images/template/cc.png" height="25" width="187" alt=""></li>
        </ul>
    
      </div>
    
    </div><!-- #footer -->
  </div><!-- #footerWrap -->
  <!--
      ==========================================================================================
      VOLUSION LINK - BEGIN
      ==========================================================================================
      Customer has agreed per Volusion's Terms of Service (http://www.volusion.com/agreement_monthtomonth.asp)
      to maintain a text hyperlink to "http://www.volusion.com" in the footer of the website. The link must be
      standard html, contain no javascript, and be approved by Volusion. Removing this link breaches the Volusion agreement.
      ==========================================================================================
      -->
      <div id="footerBottom" class="clear">
        <div class="copyright">
          <a href="/terms.asp" title="Terms">Copyright &copy; <span class="insertYear">2013</span>&nbsp;www.benaturalorganics.com. All Rights Reserved.</a>
          
            Powered with <a href="http://www.volusion.com" target="_blank" rel="nofollow">Volusion ecommerce</a>
          <!-- #if_not_hompage -->
        </div><!-- .copyright -->
      </div><!-- #footerBottom -->




<script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script>

<script type="text/javascript">
	if (!/\/shoppingcart\.asp/i.test(window.location.pathname)) {
		jQuery(document).ready(function() {
			jQuery('a').each(AddCartLink)
		});
	}
</script>

</body>
</html>