
#tbl0 {width: 1000px;}
#topNav .menu td {width: auto !important;}

#topNav .menu #menu0 {margin: 0 auto;}

#topNav .menu td img, #leftNav .menu td img {display: none !important;}
#topNav .menu table, #leftNav .menu table {margin: 0; padding: 0;}



#tbl0 td[id*="sep"] {
    background-repeat: no-repeat !important;
    background-position: top center !important;
    
    overflow: hidden;
}







#topNav .menu td.nav a, 
#topNav .menu td.nav_hover a {
	
	text-decoration: none;
	display: block;
	font-size: 11px;
	padding: 15px 25px 17px;
	text-transform: uppercase;
}
#topNav .menu td.nav_hover a, 
#topNav .menu td.nav_selected a {
	
	background-image: url(../images/template/nav-hover-bg.png) !important;
	background-repeat: repeat-x;
	background-position: 0 0;
	text-decoration: none;
}


#topNav .mmenucontainer + .mmenucontainer > .milonictable {
	background: #fff url(../images/template/sub-nav-bg.png) repeat-x 0 0 !important;
	border: 1px solid #b1b1b1 !important;
	padding: 15px 0 !important;
}


#topNav .menu td.subnav a, 
#topNav .menu td.subnav_hover a {
	
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	padding: 7px 46px 7px 20px;
	background-image: none !important;
	color: #666;
	text-align: left;
}
#topNav .menu td.subnav_hover a, 
#topNav .menu td.subnav_selected a {
	
	color: #91cfcd;
	text-decoration: none;
	background-image: none !important;
}





#topNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: auto;
}

#topNav li {
	display: inline-block;
  	text-align: center;
  	float: none;
}

#topNav li a {
	display: inline-block;
	color: #909090;
	font-size: 11px;
	padding: 15px 25px 17px;
	text-transform: uppercase;
}

#topNav li a:hover, 
#topNav li.nav_selected a {
	color: #fff;
	background-image: url(../images/template/nav-hover-bg.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	text-decoration: none;
}


 
#leftNav script + table {width: 100%;}




#leftNav .menu script + div > table:first-child {width: 100%;}


#leftNav .menu > .mmenucontainer td.nav a, 
#leftNav .menu > .mmenucontainer td.nav_hover a {
	
	text-decoration: none;
	white-space: normal;
	font-size: 11px;
	text-transform: uppercase;
	display: block;
	padding: 7px 10px 7px 10px;
	text-decoration: none;
}
#leftNav .menu > .mmenucontainer td.nav_hover a, 
#leftNav .menu > .mmenucontainer td.nav_selected a {
	
  	text-decoration: none;
}


#leftNav .mmenucontainer + .mmenucontainer > .milonictable {
	background: #fff !important;
	border: 1px solid #b1b1b1 !important;
}


#leftNav .menu > .mmenucontainer td.subnav a, 
#leftNav .menu > .mmenucontainer td.subnav_hover a {
	
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	padding: 7px 46px 6px 20px;
	background-image: none !important;
	color: #666;
	text-align: left;
	
}
#leftNav .menu > .mmenucontainer td.subnav_hover a, 
#leftNav .menu > .mmenucontainer td.subnav_selected a {
	
	color: #81cfcd;
	padding: 7px 46px 6px 20px;
	text-decoration: none;
	background-image: none !important;
}





#leftNav .menu script + table {width: 100%;}


#leftNav .menu td.nav a, 
#leftNav .menu td.nav_hover a {
	
	text-decoration: none;
	white-space: normal;
	font-size: 11px; 
	text-transform: uppercase;
	display: block;
	padding: 7px 10px 7px 10px;
	text-decoration: none;
}
#leftNav .menu td.nav_hover a, 
#leftNav .menu td.nav_selected a {
	
	text-decoration: none;
}

 
#leftNav .menu td.subnav a, 
#leftNav .menu td.subnav_hover a {
	
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
	color: #666;
	padding: 3px 5px 3px 20px;
	background: none !important;
	text-align: left;
}
#leftNav .menu td.subnav_hover a, 
#leftNav .menu td.subnav_selected a {
	
	background: #fff !important;
	text-decoration: none;
	color: #81cfcd;
}




#leftNav ul {
  color: #666666;
  font-size: 12px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0px;
  width: auto;
}
#leftNav ul li {
  margin: 0;
  padding: 0;
}
#leftNav ul li a {
  color: #666666;
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
}
#leftNav ul li.nav_hover a,
#leftNav ul li a:hover {
  color: #fff;
  text-decoration: none;
}

#display_menu_1 .nav a {}
#display_menu_1 .nav_hover a {}
#display_menu_1 .nav {background-color:transparent;}
#display_menu_1 .nav_hover {background-color:transparent;}
#display_menu_2 .nav a {}
#display_menu_2 .nav_hover a {}
#display_menu_2 .nav {background-color:transparent;}
#display_menu_2 .nav_hover {background-color:transparent;}
#display_menu_3 .nav a {color: #666666;}
#display_menu_3 .nav_hover a {color: #ffffff;}
#display_menu_3 .nav {background-color:transparent;}
#display_menu_3 .nav_hover {background-color:#a3dbd9;}
#display_menu_4 .nav a {color: #666666;}
#display_menu_4 .nav_hover a {color: #ffffff;}
#display_menu_4 .nav {background-color:transparent;}
#display_menu_4 .nav_hover {background-color:#a3dbd9;}
#display_menu_5 .nav a {color: #666666;}
#display_menu_5 .nav_hover a {color: #ffffff;}
#display_menu_5 .nav {background-color:transparent;}
#display_menu_5 .nav_hover {background-color:#a3dbd9;}
#display_menu_6 .nav a {color: #666666;}
#display_menu_6 .nav_hover a {color: #ffffff;}
#display_menu_6 .nav {background-color:transparent;}
#display_menu_6 .nav_hover {background-color:#a3dbd9;}
#display_menu_7 .nav a {color: #666666;}
#display_menu_7 .nav_hover a {color: #ffffff;}
#display_menu_7 .nav {background-color:transparent;}
#display_menu_7 .nav_hover {background-color:#a3dbd9;}
#display_menu_8 .nav a {color: #666666;}
#display_menu_8 .nav_hover a {color: #ffffff;}
#display_menu_8 .nav {background-color:transparent;}
#display_menu_8 .nav_hover {background-color:#a3dbd9;}