</div>
    
    <div class="clear"></div>
</div>

<!-- #################### FOOTER #################### -->
<div align="center">

<div class="footerlogos">
<div id="fourths" style="padding:5px;">

 <H4 style="padding:0px;">Want Free Products, Discounts and Insider Beauty Tips?</H4>
<p>Get BNO&#146;s eNewsletter!</p>
 

<form name="MailingList" method="post" action="MailingList_subscribe.asp">
	
	<input style="font-size:11px;" name="emailaddress" size="19" maxlength="50" type="text"/>
	<br/>
	<center>
	<input name="Submit" value="Join Now" style="margin-top:.25em;" type="submit"/>
	</center>
</form>
<br/>


<!--<p><a href="mailto:joanne@benaturalorganics.com?subject=Please sign me up for the  Be Natural Organics Newsletter" class="zbutton">
 Sign up here</a></p>-->
</div>

<img src="/v/vspfiles/assets/images/footerlogo-co-op.gif" />
<img src="/v/vspfiles/assets/images/footerlogo-crueltyfree.gif" />
<img src="/v/vspfiles/assets/images/footerlogo-green-biz.gif" />
<img src="/v/vspfiles/assets/images/footerlogo-vegan.gif" />
<img src="/v/vspfiles/assets/images/footerlogo-organic.gif" />
<img src="/v/vspfiles/assets/images/footerlogo-komen.gif" style="margin-top: 30px; vertical-align: top;" />
<a href="https://www.volusion.com/ssl.asp?url=www.benaturalorganics.com" target="_blank" alt="Click To Verify SSL" title="Click To Verify SSL"><img src="/v/vspfiles/assets/images/footerlogo-volusion.gif" /></a>



</div></div></div>
       
<div align="center"><div id="footer">

<!-- #################### MAILING LIST SECTION -->

	<div id="footerTop">
    	<ul>
        	<li class="title"><b>CUSTOMER SERVICE</b></li>
            <li><a href="http://www.benaturalorganics.com/help.asp">Help</a></li>
            <li><a rel="nofollow" href="http://www.benaturalorganics.com/articles.asp?ID=57">Shipping &amp; Deliveries</a></li>
            <li><a rel="nofollow" href="http://www.benaturalorganics.com/returns.asp">Returns &amp; Exchanges</a></li>
        </ul>
        
        <ul>
        	<li class="title"><b>SITE MAPS</b></li>
            <li><a href="http://www.benaturalorganics.com/pindex.asp">Product Index</a></li>
            <li><a href="http://www.benaturalorganics.com/cindex.asp">Category Index</a></li>
        </ul>
        
        <ul>
        	<li class="title"><b>MY ACCOUNT</b></li>
            <li><a rel="nofollow" href="http://www.benaturalorganics.com/login.asp">Login/Register</a></li>
            <li><a rel="nofollow" href="http://www.benaturalorganics.com/shoppingcart.asp">Shopping Cart</a></li>
            <li><a rel="nofollow" href="http://www.benaturalorganics.com/orders.asp">Order Status</a></li>
        </ul>
        
		<ul>
        	<li class="title"><b>COMPANY INFO</b></li>
            <li><a href="http://www.benaturalorganics.com/aboutus.asp">About | Contact Us</a></li>
         
            <li><a rel="nofollow" href="http://www.benaturalorganics.com/terms_privacy.asp">Privacy Policy</a></li>
<li><a href="http://www.benaturalorganics.com/affiliate_info.asp">Become an Affiliate</a></li>
        </ul>

	</div>


<!-- ==========================================================================================
				VOLUSION LINK - BEGIN
===============================================================================================
Customer has agreed per Volusion's Terms of Service (http://www.volusion.com/agreement_monthtomonth.asp) to maintain a text hyperlink to "http://www.volusion.com" in the footer of the website. The link must be standard html, contain no javascript, and be approved by Volusion. Removing this link breaches the Volusion agreement.
=========================================================================================== -->	
    <div id="footerBottom">
		<a href="http://www.benaturalorganics.com/terms.asp">Copyright &copy; <script type="text/javascript">document.write((new Date()).getFullYear());</script>&nbsp;www.benaturalorganics.com.</a> <br />Built with <a href="http://www.volusion.com" target="_blank" rel="nofollow">Volusion</a></br>All Rights Reserved. 
	</div>
</div>
</div></div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12263880-1']);
  _gaq.push(['_setDomainName', 'benaturalorganics.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=/g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47739106-1', 'benaturalorganics.com');
  ga('send', 'pageview');

</script>



<script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script>

<script type="text/javascript">
	if (!/\/shoppingcart\.asp/i.test(window.location.pathname)) {
		jQuery(document).ready(function() {
			jQuery('a').each(AddCartLink)
		});
	}
</script>




<script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script>

<script type="text/javascript">
	if (!/\/shoppingcart\.asp/i.test(window.location.pathname)) {
		jQuery(document).ready(function() {
			jQuery('a').each(AddCartLink)
		});
	}
</script>

</body>
</html>