#container #bannerbuttons {
	position: absolute;
	left: 10px;
	bottom: 5px;
	z-index: 5000;
	border: none;
}

#container #bannerbuttons img {
	margin: 0;
	padding: 0;
	float: left;
	border: none;
	z-index: 5001;
}

#container #bannerbuttons #bannercontrols #banner_prev_btn, #container #bannerbuttons #bannercontrols #banner_next_btn {
	display: none;
}

#bannerbuttons #bannernumbers, #bannerbuttons #bannercontrols {
	float: left;
	margin: 0;
	padding: 0;
}