BODY {background-color:#666666;}
A {color:#999999;}
A:hover {color:#888888;}
TD {color:#666666;}
.colors_background_main {background-color:#FFFFFF;}
.colors_background1 {background-color:#FFFFFF;}
.colors_background1_text {color:#333333;}
.colors_background1_text:hover{color:#333333;}
.colors_background2 {background-color:#ffffff;}
A.colors_background2_text:hover {color:#666666;}
.colors_background2_text {color:#666666;}
.colors_background3 {background-color:#d9d9d9;}
A.colors_background3_text:hover {color:#666666;}
.colors_background3_text {color:#666666;}
.colors_backgroundlight {background-color:#ffffff;}
.colors_backgroundlight_dark {background-color:#7c7c7c;}
.colors_backgroundneutral {background-color:#ffffff;}
.colors_backgroundneutral {color:#7c7c7c;}
.colors_backgroundneutral_dark {background-color:#7c7c7c;}
.colors_descriptionbox {background-color:#7c7c7c;}
.colors_highlight {background-color:#ffbb00;}
.colors_lines {background-color:#999999;}
.colors_lines_light {background-color:#ffffff;}
.colors_links {color:#666666;}
A.colors_links:hover {color:#888888;}
.colors_menutitle {background-color:#444444;}
.colors_menutitletext {color:#999999;}
.colors_pricebox {background-color:#7c7c7c;}
.colors_productname {color:#3d2040;text-align:center;}
A.colors_productname:hover {color:#7c7c7c;}
.colors_productprice {color:#294e25;}
A.colors_text:hover {color:#7c7c7c;}
.colors_text {color:#7c7c7c;}
.colors_pricebox {background-color:#FFFFFF;}
.colors_descriptionbox {background-color:#FFFFFF;}
A.colors_homepage_title{color:#007DE9;}
.PageText_L548n{color:#3d2040;}
.organic{color:#7c522e; font-weight:bold;}