font{
	color:#545454;
}

table,
td{
	font-size:11pt;
list-style:inside;
valign:baseline;

}

.PageText_L548n{
       color:#3d2040;
       font-size:18px;
	text-decoration:underline;}



td img {
  vertical-align: baseline;
}


textarea,
input{
	font-size:12px;
	color:#000;

}

form{
	margin:0px;
}

.bgcolor1{
	font-size:12px;
}

.bgcolor3{
	font-size:12px;
}

.bglinecolor{
padding-bottom: 25px;

}


.v65-productDisplay{
        text-align: center;
        cellspacing:0;
	text-decoration:none;
}

.productnamecolorLARGE{
padding-top: px;

}

.v65-productName{
border-top: 20px solid #fff;
border-bottom: 20px solid #fff;
}

.productnamecolorLARGE,
a.productnamecolorLARGE{
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
        display:;
padding-top: px;

	}

a.productnamecolorLARGE:hover{
	font-weight:bold;
	text-decoration:none;
padding-top: px;


	}

.productnamecolor,
a.productnamecolor{
	font-size:18px;
	font-weight:;
        color:#3d2040;
text-decoration:none;
        text-align: center;
        display:;
padding-top: px;

 
       	}

a.productnamecolor:hover{
	text-decoration:none;}

.productnamecolorSMALL{
	font-size:14px;}

a.productnamecolorSMALL{
	font-size:10px;
	text-decoration:none;
}

a.productnamecolorSMALL:hover{
	text-decoration:none;
}

ul { list-style: none; }


.pricecolor{
	font-size:16px;
padding: 0px 0px 0px 0px;
        line-height: 30px;
        height: 30px; 
	text-decoration:none;
        text-align: center;
border-bottom: 20px solid #fff;
}

a.pricecolor,
a.pricecolor:hover{
	font-size:16px;
	text-decoration:none;
padding: 0px 0px 0px 0px;
        line-height: 60px;
        height: 60px; 
       text-align: center;
border-bottom: 20px solid #fff;

}

.pricecolorSMALL{
	font-size:10px;
padding: 0px 0px 0px 0px;
        line-height: 60px;
        height:60px; 
	text-decoration:none;
}

a.pricecolorSMALL,
a.pricecolorSMALL:hover{
	font-size:11px;
	text-decoration:none;
 padding: 0px 0px 0px 0px;
        line-height: 60px;
        height: 60px;   
}

a.RegularLink{
	font-size:12px;
	text-decoration:none;
}

a.RegularLink:hover{
	text-decoration:underline;
}

.smalltext{
	font-size:10px;
}

a.smalltext,
a.smalltext:hover{
	font-size:10px;
	text-decoration:none;}

.nav1,
a.nav1{
	font-size:12px;
	text-decoration:none;
}

a.nav1:hover{
	text-decoration:none;
}

.nav1_selected,
a.nav1_selected{
	font-size:12px;
	text-decoration:none;
}

a.nav1_selected:hover{
	text-decoration:none;
}

.nav2,
a.nav2{
	font-size:12px;
	text-decoration:none;
}

a.nav2:hover{
	text-decoration:none;
}

.nav2_selected,
a.nav2_selected{
	font-size:12px;
	text-decoration:none;
}

a.nav2_selected:hover{
	text-decoration:none;
}

.nav3,
a.nav3{
	font-size:12px;
	text-decoration:none;
}

a.nav3:hover{
	text-decoration:none;}

.nav3_selected,
a.nav3_selected{
	font-size:12px;
	text-decoration:none;}

a.nav3_selected:hover{
	text-decoration:none;
}

.carttext{
	font-size:10px;
	text-decoration:none;}

a.carttext{
	font-size:10px;
	text-decoration:none;
}

a.carttext:hover{
	font-size:10px;
	text-decoration:underline;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

.bgcolor2{
	font-size:12px;
}

.navtitle,
a.navtitle,
a.navtitle:hover{
	font-size:12px;
	letter-spacing:3px;
}

.navTOP,
a.navTOP{
	font-size:12px;
	color:#999999;
	text-decoration:none;
}

a.navTOP:hover{
	color:#999999;
	text-decoration:underline;
}

.navBOTTOM,
a.navBOTTOM{
	font-size:12px;
	text-decoration:none;
}

.PageText_L336n{
        font-size:18px;
        color:#3d2040;
	text-decoration:blink;

}

.PageText_L489n{
        font-size:14px;
border-bottom: 20px solid #fff;
}

.v65-productDetailInfo{
border-bottom: 20px solid #fff;
}

a.navBOTTOM:hover{
	text-decoration:underline;
}

.NavSpecials,
a.NavSpecials{
	font-size:12px;
	text-decoration:none;
}

a.NavSpecials:hover{
	text-decoration:none;
}