#display_menu_1 .nav a {color:#294e25;}
#display_menu_1 .nav_hover a {color:#7c7c7c;}
#display_menu_1 .nav {background-color:transparent;}
#display_menu_1 .nav_hover {background-color:transparent;}
#display_menu_2 .nav a {}
#display_menu_2 .nav_hover a {}
#display_menu_2 .nav {background-color:transparent;}
#display_menu_2 .nav_hover {background-color:transparent;}
#display_menu_3 .nav a {}
#display_menu_3 .nav_hover a {}
#display_menu_3 .nav {background-color:transparent;}
#display_menu_3 .nav_hover {background-color:transparent;}
#display_menu_4 .nav a {}
#display_menu_4 .nav_hover a {}
#display_menu_4 .nav {background-color:transparent;}
#display_menu_4 .nav_hover {background-color:transparent;}
#display_menu_5 .nav a {}
#display_menu_5 .nav_hover a {}
#display_menu_5 .nav {background-color:transparent;}
#display_menu_5 .nav_hover {background-color:transparent;}
#display_menu_6 .nav a {}
#display_menu_6 .nav_hover a {}
#display_menu_6 .nav {background-color:transparent;}
#display_menu_6 .nav_hover {background-color:transparent;}
#display_menu_7 .nav a {}
#display_menu_7 .nav_hover a {}
#display_menu_7 .nav {background-color:transparent;}
#display_menu_7 .nav_hover {background-color:transparent;}
#display_menu_8 .nav a {}
#display_menu_8 .nav_hover a {}
#display_menu_8 .nav {background-color:transparent;}
#display_menu_8 .nav_hover {background-color:transparent;}


#topnav .menu .nav a, #topnav .menu .nav_hover a{
	display:inline-block !important;
	font:bold 13px 'Cabin', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding:5px 12px 5px;
	margin:0 0 0 0;
       text-transform: uppercase;



}

#topnav .menu .nav_hover a{
        text-shadow: 2px 2px 2px #ffffff;

}

#topnav .menu ul{
	margin:0 auto;
	padding:0;
	list-style:none;

}
#topnav .menu ul li{
	display:inline;

}
#topnav .menu ul li a{ 
	display:inline-block;


}
#topnav .menu ul li.nav_hover a{ 
       font-weight: bold;
}



#topnav .menu .colors_lines{background-color:#729700;}

#topnav .menu table{
	margin:0;
	padding:5px;
	text-align:left;


}
#topnav .menu td img {display:none !important;} 

#topnav .menu td.nav, #topnav .menu td.nav_hover {
	margin:0;
	padding:0;


}
#topnav .menu td.nav_hover {
	text-decoration:underline;
}
#topnav .menu td.nav a, #topnav td.nav_hover a{
}
#topnav .menu td.nav_hover a{
}


#topnav .menu td.subnav, #topnav .menu td.subnav_hover {
	background-color:#294e25; 
	border-bottom:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	margin:0;
	padding:0;
	text-align:left;
        color:#cccccc;
}
#topnav .menu td.subnav_hover {
	background-color:#FFFFFF;
        color:#cccccc;
}
#topnav .menu td.subnav a{
	color:#ffffff;
	display:block !important;
	font:normal 12px 'Cabin', "Lucida Sans Unicode","Lucida Grande",sans-serif;
	padding:2px 5px;
	text-decoration:none !important;
	margin:0px;	
}

 #topnav .menu td.subnav_hover a{
       color:#7c522e;
	display:block !important;
	font:normal 12px 'Cabin', "Lucida Sans Unicode","Lucida Grande",sans-serif;
	padding:2px 5px;
	text-decoration:none !important;
	margin:0px;

}

#topnav .menu .milonictable td.subnav_hover{
	text-decoration:none !important;
}


#leftnav .menu .nav a, #leftnav .menu .nav_hover a{
	display:block !important;
	font:normal 12px 'Cabin', "Lucida Sans Unicode","Lucida Grande",sans-serif;
	margin:0;
	padding:2px 5px 3px;
	text-decoration:none;
	width:154px;

}

#leftnav .menu .nav_hover a{
	background-color:#F5F5DC !important;
	border-top:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
        border-right:1px solid #E0E0E0;
}


#leftnav .menu ul{
	list-style:none;
	margin:0;
	padding:0;
}
#leftnav .menu li{
}
#leftnav .menu li a{
}
#leftnav .menu li.nav_hover a{
}


#leftnav .menu td.nav img, #leftnav .menu td.nav_hover img {display:none !important;}

#leftnav .menu td.nav, #leftnav .menu td.nav_hover {
}
#leftnav .menu td.nav_hover {
}
#leftnav .menu td.nav a, #leftnav .menu td.nav_hover a{
}
#leftnav .menu td.nav_hover a{
}


#leftnav .menu td.subnav, #leftnav .menu td.subnav_hover {
	background:none;
}
#leftnav .menu td.subnav_hover {
}
#leftnav .menu td.subnav a, #leftnav .menu td.subnav_hover a{
	background:none !important;
	border:none !important;
	font-size:11px;
	font-weight:normal;
	padding-left:20px;
	width:172px;
}
#leftnav .menu td.subnav_hover a{
	color:#999999;
}


#leftnav .menu .milonictable td.subnav, #leftnav .menu .milonictable td.subnav_hover {
	background-color:#999999;

}
#leftnav .menu .milonictable td.subnav_hover{
	background-color:#999999;	
}
#leftnav .menu .milonictable td.subnav a, #leftnav .menu .milonictable td.subnav_hover a{
	color:#fff;
	padding:3px 10px;
	width:auto;
}
#leftnav .menu .milonictable td.subnav_hover a{
	font-style:normal;
}