/* breadcrumb and headers */
#v65-onepage-breadcrumb {
    display:none;
}

#v65-onepage-ContentTable {
	padding-top:0px;
	margin-top:0px;
	float:left;
	width:45%;
}

/* billing */
#v65-onepage-Billing input {
    font-size:12px;
    padding:6px 4px;
    background-color: #eee;
    border:1px solid #CCC;
}
#v65-onepage-Billing select  {
    font-size:13px;
    padding:6px 4px;
    background-color: #eee;
    border:1px solid #CCC;
    clear:both;
}
#v65-onepage-BillingParent { 
	text-align:left;
	align:left;
}
#v65-onepage-billfirstname,
#v65-onepage-billlastname,
#v65-onepage-billcompanyname,
#v65-onepage-billaddr1,
#v65-onepage-billaddr2,
#v65-onepage-billcity ,
#v65-cart-billemail,
#v65-onepage-shipfirstname, 
#v65-onepage-shiplastname, 
#v65-onepage-shipcompanyname, 
#v65-onepage-shipaddr1,
#v65-onepage-shipaddr2,
#v65-onepage-shipcity {
	width:300px !important;
}
.v65-onepage-ordercomments-row {
	float:left;
}
#v65-onepage-billpostalcode,
#v65-onepage-billphone,
#v65-onepage-billfax
{
	width:165px;
}
#BillingCountry,
#BillingState_dropdown {
	width:175px;
}

#billing-header, #shipping-header, #v65-checkout-payment-header {
	padding-bottom:8px;
}

/* shipping */
#v65-onepage-Shipping input {
    font-size:12px;
    padding:6px 4px;
    background-color: #eee;
    border:1px solid #CCC;
}
#v65-onepage-Shipping select  {
    font-size:13px;
    padding:6px 4px;
    background-color: #eee;
    border:1px solid #CCC;
}
#v65-onepage-saved-shipping-table {
	background-color:transparent;
}
#v65-onepage-Shipping div {
	text-align:left !important;
}
#v65-onepage-ShippingCostDetails, #v65-onepage-ShippingCostDetails .carttext {
	font-size:12px; 
	color:#666;
}
#v65-onepage-ShippingCost td{
	padding-left:0px;
	margin-left:0px;
	text-align:left !important;
}
#v65-onepage-shipping-method-label {
	white-space:nowrap;
	width:105px;
}
/* Saved payment dropdowns, and additional combined styles for billing and shipping */
#savedPayment, #v65-onepage-payment-details-parent-row td , #v65-onepage-payment-details-parent-table {
	text-align:left !important;
}
#savedPayment {
	width:50%;
	width:15px;
}
.v65-onepage-SavedLocations td {
	border-width:0px !important;
}
.colors_backgroundneutral ,
#v65-onepage-SavedLocations td,
#v65-onepage-SavedLocations .colors_backgroundneutral,
#v65-onepage-saved-shipping-table,
#v65-onepage-saved-shipping-table tr,
#v65-onepage-saved-shipping-table td ,
#v65-onepage-saved-shipping-table .colors_backgroundneutral ,
.v65-onepage-SavedLocations table {
	background-color:white !important;
}

#savedPayment input, 
#savedPayment select,
#savedPayment table input, 
#savedPayment table select ,
#v65-onepage-registration input,
#v65-onepage-registration select,
.v65-onepage-payment-details input,
.v65-onepage-payment-details select,
#v65-onepage-shipto-dropdown-cell {
    font-size:12px;
    padding:6px 4px;
    background-color: #eee;
    border:1px solid #ccc;
}

/* registration */
#v65-onepage-registrationpassword-cell {
	white-space:nowrap;
	width:105px;
}
/* payment */
.v65-payment-details-label-cell {
	width:105px !important;
	text-align:left;
}
.v65-payment-details-value-cell {
	width:100%;
}

/* order summary */
#table_checkout_cart0 { 
    background-color: #eee !important; margin-bottom:5px; 
	float:left;
	margin-left:10px;
	 margin-top:5px; 
    width:35% !important;
	width:30%\0/ !important;
	
	
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#table_checkout_cart0 {
	margin-top:20px;
	}
}
#v65-onepage-editcart { 
    float:right;
    margin:12px;
    border:0px;
	font-size:16px;
	font-weight:bold;
	color:white;
	text-decoration:underline !important;
}
#v65-onepage-cartsummary-header {
	height:40px;
	vertical-align:middle;
    float:left;
    background-color:#676767;
    display:block;
    width:100%;
    color:white;
}
#v65-onepage-CartSummary {
    background-color:#eee;
}

#v65-onepage-MyCartImage { 
    display:none;
}
.v65-onepage-summary-gift-row div {
	text-align:right;
	font-weight:normal;
}
.v65-onepage-summary-gift-line-row {
	display:none;
}
.v65-onepage-ordersummary-itemtotal {
	white-space:nowrap;
}
#v65-onepage-summary-total-line , .v65-onepage-summary-total-line-cell {
	background-color:transparent;
	border-bottom:1px solid #ccc;
	padding:8px;
}
#v65-onepage-ShippingCostTotalRow  td{
	padding-top:8px;
}
#TotalsGCAmtUsedTD {
	font-weight:normal;
}
.v65-onepage-summary-total-line-img {
	display:none !important;
}
.v65-onepage-summary-total-line {
	background-color:#fff;
}
#v65-onepage-cartsummary-label {
	padding-top:0px;
	*padding-top:10px;
	*+padding-top:12px;
    padding-left:10px;
    float:left;
	font-size:16px;
}


#v65-onepage-payment-details-parent-row { width:15px; }
#v65-onepage-RegistrationHeader { 
    /* display:none; */
}
#v65-paymenttype-select-parent,
#v65-paymenttype-select-parent td ,
#v65-paymenttype-select-parent .colors_backgroundneutral,
#v65-paymenttype-select-parent .colors_backgroundneutral font {
	border:0px solid #fff !important;
	background-color: transparent !important;
	font-weight:normal !important;
	line-height:12px;
}
#v65-paymenttype-select-parent .colors_backgroundneutral  font span {
	float:left;
	
}
#v65-onepage-RegistrationEmailReference { 
	display:none;
}
#v65-cart-registration-email-label-cell {
	width:10%;
}
#v65-cart-registration-email-cell ,
#Email_Copy_For_Reference_Only { 
	width:150px;
}
#v65-onepage-ShippingCostTotalRow { 
    margin-top:15px !important;
    padding-top:15px !important;
}
#TotalsTotalTD { 
    font-size:20px; 
}
#v65-onepage-ShippingCostTotals { 
}

#table_checkout_cart0 tr { 
}
#table_checkout_cart0 tr td { 
}
#TotalsDivContainer { 
    text-align:right;
    align:right;
    float:right;
}
#v65-onepage-ShippingCostDetails {
    width:100%;
    margin-right:20px;
    padding:15px; 
    display:table;
}
#v65-onepage-ShippingCostHeader {
    display:none;
}
#v65-onepage-ordersummary-items { 
    width:100% !important; 
    background-color:#eee;
}
.v65-onepage-ordersummary-itemcode { 
    display:none; 
}


/* misc */
#v65-onepage-MakeChanges { 
    display:none; 
}
.v65_Divider { 
    display:none; 
}
.v65-onepage-Border  { 
    border:0px solid white !important; 
}
#v65-onepage-CopyBillingToShippingLink { }


#billing-header {
	border-right:0px !important;
}
/*
.v65-onepage-shippingcost-detail:nth-child(odd) div {
    _text-align:left !important;
}
*/

#v65-onepage-ordercomments-value {
	padding-top:8px;
}
.v65-onepage-shippingcost-label {
    font-weight:normal !important;
}
#btnSubmitOrder { 
    float:right; 
    margin:15px;
}
#v65-onepage-ordersummary-header-row {
    /* _display:none; */
}
#v65-onepage-ShippingCostTotals {
    background-color:#eee;
}

 
#v65-onepage-header {
}
	color:#676767;
	margin-left:8px;
}


.v65-onepage-SavedLocations td {
	border-width:0px;
	padding:0px;
	background:transparent;
}
#v65-onepage-ordercomments-input {
    width:95%;
    height:80px;
    padding:5px;
}
#ShipToSelectTable { 
    clear:both;
}
#content_area { 
	padding-left:15px;
	*padding-left:10px;
	*+padding-left:10px;
}

#v65-apply-gift-newCell li {
	list-style:none;
	padding-left:20px;
}
#v65-apply-gift-newCell li a {
	color:#666 !important;
}

#span_GiftCertificates_Editable table {
	width:100% !important;
}

#v65-cart-button-submit {
	text-align:center !important;
	width:center;
	padding:auto;
}

.v65-onepage-custom-header-row {
    display:none;
}
#v65-completeOrder {
    padding:8px;
    font-size:16px;
}
.v65-onepage-custom-details-row td {
    padding:5px;
}

#v65-onepage-ordercomments-value { 
	padding:15px;
}
#v65-onepage-payment-details-parent-row {
	width:460px;
}
#SessionShippingAddressDiv, #CalcShippingDivContainer, #RecalcShippingDiv {
	display:none;
}
.v65-payment-details-label-cell {
	width:158px;
}
@-moz-document url-prefix() {
	#v65-onepage-billing td {
		padding-bottom:15px;
	}

}

#v65-onepage-cartsummary-header {
	width: 265px\0/ !important;
}
