#container{
		width:1100px;
		/*  height:303px;*/
		position:relative;
	}

	#container ul{
		width:1100px;
		height:303px; 
		list-style:none outside none;
		position:relative;
		overflow:hidden;
		padding:0;
	}
	  
	#container li:first-child{
		display:list-item;
		position:absolute;
	}

	#container li{
		position:absolute;
		display:none;
	}

	#container .prevButton{
		height:72px;
		width:68px;
		position:absolute;
		background:url('/v/vspfiles/assets/images/buttons.png') no-repeat;
		top:50%;
		margin-top:-36px;
		cursor:pointer;
		z-index:2000;
		background-position:left top;
		left:0
	}

	#container .prevButton:hover{ 
			background-position:left bottom;left:0;}

	#container .nextButton{
		height:72px;
		width:68px;
		position:absolute;
		background:url('/v/vspfiles/assets/images/buttons.png') no-repeat;
		top:50%;
		margin-top:-36px;
		cursor:pointer;
		z-index:2000;
		background-position:right top;
		right:0
	}

	#container .nextButton:hover{ 
			background-position:right bottom;right:0;}




.test {
	display: inline-block; }

.w100 {
	width: 25px;
}

a {text-decoration:none;}
a, a:visited, a:active {outline-style:none;}
a:hover {text-decoration:underline;}

img {border:none !important;}
.begin{border:none !important;}
.end{border:none !important;}
.bold{font-weight:bold !important;}
.highlight{color:#06a0cf !important;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.none{display:none !important;}
.block{display:block !important;}
.inline{display:inline !important;}

ul.checkout { list-style-type:none; margin-right:50px;}

ul.checkout li { float: left;
                margin-left:10px; }
ul.checkout li.l2 { margin-left:535px;}
ul.checkout li.l3 {float: right;}





/* ############################### FIXES ############################### */
.qe_toolbar_ovr{z-index:9999 !important;} /*admin box*/
.next_page_img{width:auto !important; height:auto !important;}
.previous_page_img{width:auto !important; height:auto !important;}
.soft_add_content_area span, .quantity{color:#000;}
.soft_add_wrapper {z-index:999;}

/* ############################### PAGE WRAPPER ############################### */
body{
	background-color:#f8fefb;
	color:#7c7c7c;
	font: normal 13px Century Gothic, Helvetica, sans-serif;
	margin:0;
	padding:0;
	text-align:center;
}
h1,h2,h3,h4,h5,h6 {margin:0; padding:0 0 10px 0; font-weight:normal; font-family:Century Gothic, Helvetica, sans-serif;}

h1{font-size:18pt;color:#294e25;}
h2 {font-size:13pt;  color:#294e25;}
h3 {font-size:13pt;  color:#3d2040;}
h4,h5,h6 {font-size:14px; }
h4{color:#294e25;}
h5{color:#3d2040;}
h6{color:#7c7c7c;}
hr { display:block; clear:both; border:none; height:1px; background:#dddddd; margin:0; padding:0;}
#page{
	margin:0 auto;
	text-align:left;	
	width:1100px;
        background-color:#ffffff;	
        box-shadow:0px 5px 20px #7c522e;
}

/* ############################### HEADER ############################### */
#header{
	background:none;
	height:120px;
	position:relative;
}

/* ############################### LOGO IMAGE AND TEXT */
#header div#display_homepage_title{
	height: 46px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    width: 460px;
	font:29px/46px Century Gothic, Helvetica, sans-serif;
}

#header div#display_homepage_title a{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	text-align:left;
	display:block;
	text-indent:-9999px;
	color:#aaaaaa;
}

#header div a#homepage_title{
	text-indent:0px;
	font:29px/46px Century Gothic, Helvetica, sans-serif;
	background:none;
}

#featured div {
    position: absolute;
    left: 0;
    top: 0;
}

/* ############################### HEADER TOP */
#headerTop{	
	color:#e7ecce;
	font-size:11px;
    position:absolute;
vertical-align:text-middle;
	right:0;
	text-align:right;
	top:5px;
	width:500px;
        height:50px;
}
#headerTop a{
	color:#333;
	margin-left:20px;
}



/* ############################### SEARCH BOX */

#display_search{
	background:url(../images/template/search_bg.gif) no-repeat 0 0;
	position: absolute;
    right: 0;
    top: 58px;

}
#display_search form{
	height:100%;
	margin:0;
	padding:0;
	width:100%;

}
#search_input{

	color: #913f98;
    display: block;
    float: left;
    font: 14px Century Gothic, Helvetica, sans-serif;
    margin: 0;
    padding: 10px 5px;
    text-align: left;
    width: 200px;
    height: 14px;
    background:	#f9f9f9;
    border:1px solid #913f98;
}
#search_submit{
	color: #fff;
display: block;
float: left;
font: 14px Century Gothic, Helvetica, sans-serif;
margin: 0 15px 0 0;
padding: 5px;
text-align: left;
width: 36px;
height: 36px;
background: #913f98;
border: 1px solid #913f98;
}



/* ############################### TOP NAVIGATION ############################### */
#topnav{
	height:35px;
        padding-left: 4px;
        padding-right:10px;
	border-top:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
        font-size:30px;
        height:30px;
        font: 'Cabin', Arial, Helvetica, sans-serif;
}
	
/* ############################### CONTENT ############################### */
#content{
	border-bottom:1px solid #E0E0E0;	
	/*padding: 10px;*/
        margin-bottom: 0px;
        background-color:#ffffff;
        text-align:left;}



/* ############################### LEFT_NAV */
#leftnav{
	float:left;
	width:175px;
        padding-left:10px;
        border-right: 1px solid #E0E0E0;

}
#leftnav .menutitle{

	width:190px;
	color:#7c7c7c; 
	font:12px;
	line-height:20px;
	text-transform:uppercase;
        padding-left:10px;
}
#leftnav .menu{
    margin-bottom:25px;
        padding-left:10px;


}

/* ############################### PROMOTIONS */


/* ############################### CONTENT AREA */
#content_area{
	text-align:left;
	width:1100px;
        background-color:#ffffff;}
}

#content #content_area table{text-align:center;}

#TechSpecs{
      list-style-type: none;
     display: block;
     list-style: none;
     text-decoration: none;

}

#ProductDetail_TechSpecs{
     list-style-type: none;
     display: block;
     list-style: none;
     text-decoration: none;
}

#ul li{
display: block;
list-style: none;
text-decoration: none;

}


/* ############################### FOOTER ############################### */
#footer {
	color:#7c522e;
	padding:9px 0;
	text-align:left;
	position:relative;
	margin-bottom:50px;
	overflow:visible;
        height:150px;
        width:1100px;
	}
#footer a {
	color:#7c522e;}
/* ############################### MAILING LIST */
#eList{
    left: 0;
    position: absolute;
    top: 16px;
    width: 178px;
	}
	
#eList form{
	margin:0;
	padding:10px;
	width:100%;
}
#elist_input{
	background:#729700;
	border:none;
	color:#FFFFFF;
    font: 11px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    margin: 0;
    padding: 0 5px;
	float: left;
    text-align: left;
    width: 116px;
    height: 20px;
}
#elist_submit {
	background-color:#c1c1c1;
	border:none;
	color: #FFFFFF;
    cursor: pointer;
    float: right;
    font: 11px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    margin: 0;
    padding: 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
}


/* ############################### FOOTER TOP */
#footerTop {
	margin:0;
	padding:10px;
	font-size:10px;	
	line-height:18px;
	left:200px;

}
	
#footerTop ul {
	margin:0 0 15px 90px;
	padding:0;
	list-style:none;
	display:inline;
	float:right;
}
	
#footerTop ul li {
	margin:0;
	padding:0;
	color:#7c522e;
}
	
#footerTop ul li.title { margin:0 0 2px; font-size:12px;
}
	
#footerTop ul li a {color:#7c522e;
}

/* ############################### FOOTER BOTTOM */
#footerBottom {
	margin:0;
        width:185px;
	padding:10px;
	font-size:10px;	
	color:#7c522e;
	line-height:17px;
	position:absolute;
	top:10px;
	left:0px;
}
	
	
#footerBottom a {color:#7c522e;
}


/* ############################### CHECKOUT ############################### */
#v65-onepage-cartsummary-header {
	background-color:#676767;
    color:white;
}
/* ############################### DIV COLUMNS ############################### */
#half {width:49%; margin-left:5px; float:left;}
#thirds {width:32%;  margin-left:5px; float:left;padding:2px;}
#thirds h1{font-size:13pt;color:#294e25; margin:0}
#fourths {width:24%;  margin-left:5px; float:left;}
#fourths h4{font-size:10pt; color:#294e25;}
#fifths {width:19%;  margin-left:5px; float:left;}
#fifths h4{font-size:13pt; color:#294e25;}
#sixths {width:16.6%;  margin-left:5px; float:left;}

.zbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #c9c7c9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c9c7c9;
	box-shadow:inset 0px 1px 0px 0px #c9c7c9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #451551), color-stop(1, #3d2040) );
	background:-moz-linear-gradient( center top, #451551 5%, #3d2040 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#451551', endColorstr='#3d2040');
	background-color:#451551;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:Century Gothic, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:5px 12px;
	text-decoration:none;
}.zbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d2040), color-stop(1, #451551) );
	background:-moz-linear-gradient( center top, #3d2040 5%, #451551 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d2040', endColorstr='#451551');
	background-color:#3d2040;
	
	text-decoration:none;
}.zbutton:active {
	position:relative;
	top:1px;
}
.footerlogos {text-align:center; width:1100px; margin-left:auto; margin-right:auto;min-height:140px;}
.footerlogos img {margin:12px 7px;}
.footerlogos a, a:visited, a:active {color:#3E1E43;}


/* ############################### MOVES PRODUCT PRICE ############################### */
#v65-product-parent > tbody > tr:nth-child(2) > td:nth-child(2) > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(2) > table > tbody > tr:nth-child(1) > td:nth-child(1) > div{padding-left: 10px;}